<!DOCTYPe html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="AirPlane Repository, Planes Photos, Planes Pictures, Plane Brands, Plane Types" />
        <!-- CSS Style Sheet-->
        <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <title>Airplane Image Search by Make and Model</title>

    </head>
    <body>
        {% block content %}
        <div class="container">
        <h2 style="text-align: center;">Airplane Image Search: </h2>
        <p style="text-align: center;">Enter Airpane Make and/or Model</p>
        <form action = "/airplane_search", method="POST" target="gallery" onsubmit="window.open('about:blank','gallery','width=1000,height=800');">
            <div class="row"> 
                <div class="col-25">
                    <label for="make_model" style="font-size:1em;font-weight:bold;">Enter Make and Model of Airplane</label>
                </div>
                <div class="col-75">
                    <input type="text" id="make_model" name="make_model" value="">
                </div>
                </div>
                <div class="row">
                    <input type="submit" value="Search">
                  </div>
            </form>

        </div>
        <div id="gallery" class="container container2">
            Gallery Output
        </div>
            {% endblock %}
    </body>
    </html>